<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/images/apple-icon.png"
    />
    <title>Duta Grafika</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/satoshi.css">
    <link rel="stylesheet" href="/assets/css/tailwind.css">
  </head>
  <body
   class="bg-green-800"
  >
      <!-- Loader -->
      <!-- <%- include('loader') %> -->

      <div class="flex h-screen overflow-hidden">
        <!-- Sidebar -->
        <%- include('admin_Sidebar') %>

        <div
        class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
        >
        <!-- Navbar -->
        <%- include('admin_navbar') %>

        <!-- main content -->
        <%- body %>
        
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
      <script src="/assets/js/index.js"></script>
      <script src="/assets/js/us-aea-end.js"></script>
      <script src="/assets/js/components/chart-01.js"></script>
      <script src="/assets/js/components/chart-02.js"></script>
      <script src="/assets/js/components/chart-03.js"></script>
      <script src="/assets/js/components/chart-04.js"></script>
      <script src="/assets/js/components/map-01.js"></script>

  </body>
</html>